<template>
    <div class="list">
        <van-notice-bar left-icon="volume-o" text="在代码阅读过程中人们说脏话的频率是衡量代码质量的唯一标准。" />
        <div class="header">

            <van-nav-bar left-arrow @click-left="onClickLeft" @click-right="onClickRight">
                <template #title>
                    <van-search v-model="value" placeholder="请输入搜索关键词" />
                </template>
                <template #right>
                    <van-icon name="shopping-cart" />
                </template>
            </van-nav-bar>
        </div>
        <div class="top">
            <van-dropdown-menu>
                <van-dropdown-item v-model="value1" :options="option1" />
            </van-dropdown-menu>
            <van-tabs>
                <van-tab @click='bestFn' title="销量排序"></van-tab>
                <van-tab title="新品上架"></van-tab>
            </van-tabs>
        </div>
        <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">

            <van-cell v-for="item in list1" :key="item.goods_id">
                <van-card @click='jumpFn(item.goods_id)' :num="item.goods_number" :price="item.shop_price"
                    :title="item.goods_name" :thumb="'http://tmp00001.zhaodashen.cn/'+item.goods_img">
                    <template #tags>
                        <van-tag plain type="danger">{{item.goods_name}}</van-tag>
                    </template>
                    <template #footer>
                        <van-button size="mini">
                            <van-icon name="shopping-cart" />
                        </van-button>
                        <van-button size="mini">
                            <van-icon name="star-o" />
                        </van-button>
                    </template>
                </van-card>
            </van-cell>
        </van-list>
    </div>
</template>

<script>
import { getListApi } from '@/api/index';
export default {
    created () {
        this.initData();
    },
    data () {
        return {
            pagesize01: 0,
            list1: [],
            list: [],
            loading: false,
            finished: false,
            value: '',
            value1: 0,
            value2: 'a',
            value3: 'a',
            option1: [
                { text: '综合排序', value: 0 },
                { text: '价格从高到低', value: 1 },
                { text: '价格从低到高', value: 2 },
                { text: '好评率', value: 3 },
            ],
            option2: [
                { text: '销量排序', value: 'a' },
            ],
            option3: [
                { text: '新品上架', value: 'a' },
            ],
        };
    },
    methods: {
        bestFn () {
            if (this.list1.is_best == 1) {
                this.initData()
            }
        },
        jumpFn (id) {
            this.$router.push({ path: '/details?id=' + id })
        },
        initData () {
            getListApi({
                pagesize: this.pagesize01,
            })
                .then(res => {
                    console.log(res.data)
                    this.list1 = res.data.list;
                    this.pagesize01 = res.data.total;

                })
        },
        onLoad () {
            // 异步更新数据
            // setTimeout 仅做示例，真实场景中一般为 ajax 请求
            setTimeout(() => {
                // for (let i = 0; i < 10; i++) {
                //     this.list.push(this.list.length + 1);
                // }

                // 加载状态结束
                this.loading = false;
                this.initData()
                // 数据全部加载完成
                if (this.list.length >= 100) {
                    this.finished = true;
                }
            }, 2000);

        },

        onClickLeft () {
            console.log('onClickLeft')
        },
        onClickRight () {
            console.log('onClickRight')
        }
    },

}
</script>

 <style lang="scss" scoped>
.list {
    .header {
        /deep/.van-icon {
            color: #999;
            font-size: 0.24rem;
        }
        .van-search__content {
            background-color: #e9ecf0;
            border-radius: 0.3rem;
        }
    }
    .top {
        display: flex;
        .van-dropdown-menu {
            width: 1.25rem;
        }
        .van-tabs {
            flex: 1;
        }
        /deep/.van-dropdown-menu__bar {
            box-shadow: none;
        }
    }
    .van-list {
        .van-image {
            float: left;
        }
        .van-card__title {
            max-height: 36px;
            font-weight: 700;
            font-size: 16px;
            line-height: 36px;
        }
        .van-card {
            .van-button {
                background: #fafafa;
                border: none;
                .van-icon {
                    font-size: 0.2rem;
                }
            }
        }
    }
}
</style>