<template>
  <div class="pay">
    <!-- 头部 -->
    <div class="header">
      <van-nav-bar
        title="支付"
        left-text="返回"
        left-arrow
        @click-left="onClickLeft"
        @click-right="onClickRight"
      />
    </div>
    <!-- 头部 -->

    <!-- 订单号、订单金额 -->
    <div class="order">
      <div class="order-top">
        <span>
          订单号
          <span>2020102271017</span>
        </span>
      </div>
      <div class="order-btm">
        <span>
          订单金额
          <span>¥ 415.00</span>
        </span>
      </div>
    </div>
    <!-- 订单号、订单金额 -->

    <div class="mode">
      <span>请选择支付方式</span>
    </div>
    <!-- 支付方式 -->
    <div class="list">
      <van-radio-group v-model="radio">
        <div class="list1">
          <van-radio name="1" checked-color="#ab2b2b">
            <van-icon name="wechat" class="wechat" />
            <span>微信支付</span>
          </van-radio>
        </div>
        <div class="list1">
          <van-radio name="2" checked-color="#ab2b2b">
            <van-icon name="alipay" class="alipay" />
            <span>支付宝支付</span>
          </van-radio>
        </div>
        <div class="list1">
          <van-radio name="3" checked-color="#ab2b2b">
            <van-icon name="gold-coin" class="gold-coin" />
            <span>预存款支付（余额：0.00）</span>
          </van-radio>
        </div>
        <div class="list1">
          <van-radio name="4" checked-color="#ab2b2b">
            <van-icon name="gold-coin" class="gold-coin" />
            <span>龙支付（建设银行）</span>
          </van-radio>
        </div>
      </van-radio-group>
    </div>
    <!-- 支付方式 -->

    <!-- 确定取消 -->
    <div class="bottom">
      <van-button type="primary" class="sure">确定</van-button>
      <van-button type="primary" class="remove" @click="show">取消</van-button>
    </div>
    <!-- 确定取消 -->

    <!-- 取消遮罩 -->
    <!-- <div class="popups">
      <div class="cancel">
        <div class="top">
          <span>确定离开?</span>
          <van-icon name="cross" />
        </div>
        <div class="main">
          <span>是否需要放弃支付</span>
        </div>
        <div class="btn">
          <van-button type="primary" class>确定</van-button>
          <van-button plain type="primary" class="remove">取消</van-button>
        </div>
      </div>
    </div>-->
    <!-- 取消遮罩 -->
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import { Toast } from "vant";
import { getPayApi } from "@/api/pay.js";
export default {
  data() {
    return {
      delete: "",
      token: "",
      show: false,
      radio: "1",
      activeIcon: "https://img.yzcdn.cn/vant/user-active.png",
      inactiveIcon: "https://img.yzcdn.cn/vant/user-inactive.png",
    };
  },
  methods: {
    initData() {
      getPayApi({
        delete: this.delete,
        token: this.token,
      }).then((res) => {
        console.log(res);
      });
    },
    onClickLeft() {
      Toast("返回");
    },
    onClickRight() {
      Toast("按钮");
    },
  },

  created() {
    this.initData();
  },
};
</script>
<style lang="scss" scoped>
@import "@/assets/css/common.scss";
.pay {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  overflow: hidden;
  position: relative;
  // 遮罩层
  .popups {
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.534);
    position: absolute;
    top: 0;
    left: 0;
    .cancel {
      width: px2rem(342);
      height: px2rem(172);
      background: #fff;
      border-radius: 5px;
      position: relative;
      top: 200px;
      left: 0;
      margin: 0 auto;
      text-align: center;
      .top {
        width: 100%;
        line-height: px2rem(52);
        span {
          width: 50%;
          font-size: px2rem(18);
        }
        .van-icon {
          position: absolute;
          top: px2rem(16);
          right: px2rem(22);
          font-size: px2rem(14);
          color: #e9685e;
        }
      }
      .main {
        width: 100%;
        line-height: px2rem(72);
        background: #f8f8f8;
        font-size: px2rem(14);
      }
      .btn {
        .van-button {
          height: px2rem(34);
          float: right;
          position: relative;
          top: px2rem(8);
          right: px2rem(10);
          margin-right: px2rem(8);
        }
      }
    }
  }
  .header {
    overflow: hidden;
    width: 100%;
    height: px2rem(38);
    background: #fff;
    line-height: px2rem(38);
    font-size: px2rem(14);
    margin-bottom: px2rem(12);
    .bg-white {
      color: #333;
    }
    .mid {
      float: left;
    }
    .back {
      float: left;
      margin-right: px2rem(126);
      margin-left: px2rem(14);
    }
    .arrow-left {
      margin-right: px2rem(8);
    }
  }
  .order {
    width: 100%;
    background: #fff;
    padding-left: px2rem(16);
    padding-right: px2rem(16);
    font-size: px2rem(14);
    .order-top {
      padding-top: px2rem(20);
      padding-bottom: px2rem(42);
      span {
        span {
          margin-left: px2rem(204);
        }
      }
    }
    .order-btm {
      padding-bottom: px2rem(20);
      span {
        span {
          margin-left: px2rem(236);
        }
      }
    }
  }
  .mode {
    width: 100%;
    line-height: px2rem(58);
    span {
      margin-left: px2rem(16);
    }
  }
  .list {
    width: 100%;

    .van-radio-group {
      width: 100%;
      height: 100%;
      line-height: 100%;
      .list1 {
        width: 100%;
        height: px2rem(50);
        background: #fff;
        margin-bottom: px2rem(2);
      }
      .van-radio {
        width: 100%;
        height: 100%;
        margin-left: px2rem(16);
        .van-icon {
          font-size: px2rem(22);
          margin-left: px2rem(22);
          margin-right: px2rem(14);
          position: relative;
          top: 4px;
        }
        .wechat {
          color: #6ab063;
        }
        .alipay {
          color: #2696c9;
        }
      }
    }
  }
  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: px2rem(52);
    .van-button {
      width: 50%;
      height: 100%;
      border: none;
      border-radius: 0;
      font-size: px2rem(14);
    }
    .sure {
      background: #b4282d;
      border-right: 1px solid #333;
    }
    .remove {
      background: #b4282d;
      border-left: 1px solid #333;
    }
  }
}
</style>